/*.box{*/
/*    display: grid;*/
/*    width: 100%;*/
/*    height: 130px;*/
/*    background: teal;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    margin-top: 30px;*/
/*}*/

:root{
    --raisin-black: #1B2130ff;
    --steel-teal: #4D8E96ff;
    --white: #FFFFFFff;
    --space-cadet: #20263Fff;
    --cultured: #EDEDEDff;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    background-color: var(--cultured)
}
/* What kind of selector is this? */
.logo {
    width: 270px;
    height: 130px;
    margin-top: 30px;
    margin-left: 150px;
    /*margin: 10% 20%;*/
}
head {
    display: grid;
    justify-items: center;
}
header {
    display: flex;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: var(--steel-teal);
    justify-content: space-between;
    height: 130px;


}

nav {
    width: 60%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

button {
    background-color: var(--space-cadet);
    color: white;
    width: 115px;
    padding: 6px;
    border-radius: 8px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration:none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

section {
    background: white;
    border: 5px solid #4D8E96ff;
    border-radius: 4px;
    margin: 50px auto 28px;
    overflow: hidden;
    padding: 0;
    width: 1000px;
    height: 400px;
    display: block;
}

figure {
    display: block;
    float: left;
    margin: 0 50px 0 0;
    padding: 0;
    width: 400px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: slategrey;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
    padding: 110px 30px 30px;
}

.styles img {
    width: 200px;
    height: 175px;
    border: solid 5px #4D8E96ff;
    padding: 0;
    margin: 5px;
    align-items: center;
    float: left;
}

.gallery img {
    width: 200px;
    height: 175px;
    border: solid 5px #4D8E96ff;
    padding: 0;
    margin-left: 100px;
    justify-content: space-evenly;



}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin: 0;
    overflow: hidden;
}

li {
    display: block;
    list-style-type: line;
    float: left;
    margin: 10px 10px;
    padding: 12px;
    width: 220px;
    border-radius: 25%;
}
.featured {
    display: flex;
    width: 450px;
    height: 650px;
    background: #fff;
    border: 5px solid #4D8E96ff;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 515px;
    margin-bottom: 25px;

}
.featured-left{
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}

.featured-left > p {
    line-height: 1.2em;
}

.featured-right > p {
    line-height: 1.1em;


}

.featured-left-header {
    display:flex;
    gap: 20px;
    width: 450px;

}
.featured-right {
    display: flex;
    width: 450px;
    height: 300px;
    background: cadetblue;
    border: 5px solid #4D8E96ff;
    border-radius: 4px;
    padding-right: 20px;
    margin-left: 40px;

}
.featured-right-header {
    display: flex;
    gap: 20px;
    width: 450px;
}
.paragraph {
    color: white;
    width: 450px;
    margin-top: 50px;
    margin-right: 50px;
    padding-right: 50px;
;

}

.newsletter {
    display: flex;
    border-color: #4D8E96ff;
    background-color: cadetblue;
    margin-top: 200px;
}





 div img {
     display: grid;
     background: white;
     float: left;
     overflow: hidden;
     padding-right: 30px;
     width: 80px;
     height: 80px;
 }

 h2 {
     padding-left: 10px;
 }

 h3 {
     display: flex;
     object-position: top;
     color: #20263Fff;
     font-size: 25px;
     font-weight: bold;
 }

.footer{
    display: flex;
    background-color: var(--steel-teal);
    width: 100%;
    height: 130px;
    color: white;
    justify-content: space-around;
    margin: 2px;
    align-content: center;
    align-items: center;

}

.column {
    padding-top: 35px;
    padding-bottom: 05px;
    width: 100%;
    margin-bottom: 05px;
    justify-content: center;
    align-items: center;

}

.container {
    padding: 50px;
}

#body > ul li > a {
    background: no-repeat center top;
    display: block;
    margin: 0;
    padding: 5px 5px 29px;

}

#body .blog {
    display: flex;

}


@media screen and (max-width: 576px) {
}

@media screen and (min-width: 992px) {
}
