.box{
    display: grid;
    width: 100%;
    height: 130px;
    background: teal;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    margin-top: 30px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
}
/* What kind of selector is this? */
.logo {
    width: 270px;
    height: 130px;
    margin: 10% 20%;
}
head {
    display: grid;
    justify-items: center;
}
header {
    display: grid;

    grid-template-columns: 40% 60%;
    width: 100%;
}

main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

/* This is an element within and element selector */
nav > a {
    height: 8%;
    width: 10%;
    color: white;
        font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: navy;
    padding-bottom: 2px;
    text-align: center;
    border: 2px solid white;
    align-items: center;
    justify-content: center;

}

.has-border {
    border-radius: 5px;
    border: 5px solid midnightblue;
    width: 100px;
    background: midnightblue;
    padding: 2px;
    margin-top: 90px;
    margin-right: 55px;
    font-size: 15px;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-right: 2%;
}

section {
    background: white;
    border: 2px solid teal;
    border-radius: 4px;
    margin: 50px auto 28px;
    overflow: hidden;
    padding: 0;
    width: 936px;
    height: 500px;
    display: block;
}

article {
    display: block;
    float: left;
    margin: 0 50px 0 0;
    padding: 0;
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: slategrey;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
    padding: 110px 30px 30px;
}

.styles img {
    width: 225px;
    height: 175px;
    border: 3px teal solid;
    padding: 2px
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0;
    overflow: hidden;
    padding: 0;

}

li {
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 220px;
}


@media screen and (max-width: 576px) {
}

@media screen and (min-width: 992px) {
}
