/*.box{*/
/*    display: grid;*/
/*    width: 100%;*/
/*    height: 130px;*/
/*    background: teal;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: -1;*/
/*    margin-top: 30px;*/
/*}*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --raisin-black: #1B2130ff;
    --steel-teal: #4D8E96ff;
    --white: #FFFFFFff;
    --space-cadet: #20263Fff;
    --cultured: #EDEDEDff;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    background-color: var(--cultured)
}
/* What kind of selector is this? */

.page-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.logo {
    width: 270px;
    height: 130px;
    margin-top: 30px;
    margin-left: 150px;

}
head {
    display: grid;
    justify-items: center;
}
header {
    display: flex;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: var(--steel-teal);
    justify-content: space-between;
    height: 130px;


}

nav {
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

button {
    background-color: var(--space-cadet);
    color: white;
    width: 115px;
    padding: 6px;
    border-radius: 8px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration:none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

section {
    background: white;
    border: 5px solid #4D8E96ff;
    border-radius: 4px;
    margin: 50px auto 28px;
    overflow: hidden;
    padding: 0;
    width: 100%;
    height: 400px;
    display: block;
}

figure {
    display: block;
    float: left;
    margin: 0 50px 0 0;
    padding: 0;
    width: 400px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: slategrey;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
    padding: 110px 30px 30px;
}

.styles img {
    width: 100%;
    height: auto;
    border: solid 5px #4D8E96ff;
    padding: 0;
    margin: 5px;
    align-items: center;
    float: left;
}

.gallery img {
    width: 200px;
    height: 175px;
    border: solid 5px #4D8E96ff;
    padding: 0;
    margin-left: 100px;
    justify-content: space-evenly;

}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1em;
}

figure  {
    height: 100%;
}

.main-image {
    height: 100%;
    width: auto;
}

ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

li {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.featured {
    display: flex;
    width: 100%;
    height: 600px;
    background: var(--cultured);
    justify-content: space-between;


}

.featured-right-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: cadetblue;
    border: 5px solid #4D8E96ff;
}
.featured-left{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    border: 5px solid #4D8E96ff;
    border-radius: 4px;

}

.featured-left > p {
    line-height: 1.2em;
}

.featured-right > p {
    line-height: 1.1em;


}

.featured-left-header {
    display:flex;
    gap: 20px;
    width: 450px;

}
.featured-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    gap: 8%;


}

.paragraph {
    color: white;
    width:90%;
    margin: 0 auto;
    line-height: 2em;
    font-size: 18px;

}

.featured-right-bottom {
    display: flex;
    width: 100%;
    height: 40%;
    border-color: var(--steel-teal);
    background-color: cadetblue;

}

.signature {
    text-align: right;
    color: white;
}





 div img {
     display: grid;
     background: white;
     float: left;
     overflow: hidden;
     padding-right: 30px;
     width: 80px;
     height: 80px;
 }

 h2 {
     padding-left: 10px;
 }

 h3 {
     display: flex;
     object-position: top;
     color: #20263Fff;
     font-size: 25px;
     font-weight: bold;
 }

.footer{
    display: flex;
    background-color: var(--steel-teal);
    width: 100%;
    height: 130px;
    color: white;
    justify-content: space-around;
    margin: 2px;
    align-content: center;
    align-items: center;

}

.column {
    padding-top: 35px;
    padding-bottom: 05px;
    width: 100%;
    margin-bottom: 05px;
    justify-content: center;
    align-items: center;

}

.container {
    padding: 50px;
}

#body > ul li > a {
    background: no-repeat center top;
    display: block;
    margin: 0;
    padding: 5px 5px 29px;

}

#body .blog {
    display: flex;

}


@media screen and (max-width: 576px) {
}

@media screen and (min-width: 992px) {
}
